@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  form {
    width: 350px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    background: #fff;
    h1 {
      text-align: center;
      font-weight: 400;
      letter-spacing: 5px;
      border-bottom: 1px solid #ccc;
    }
    p {
      text-align: left;
      margin: 5px 0 5px 5%;
    }
    input {
      width: 90%;
      height: 25px;
      margin: 0 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align: center;
      &:focus {
        outline: none;
        border: 2px solid #ccf;
        margin: -1px;
      }
    }
    input[type=button] {
      width: 90%;
      height: 50px;
      font-size: 20px;
      margin: 25px 0 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background: #fff;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
